.card {
    right: 20px;
    width: 40px;
    bottom: 180px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


.card {
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .1);
    text-align: center;
}

.card + .card, .card + .column-right-shadow {
    margin-top: 1.5rem
}

.card.card-transparent {
    box-shadow: none;
    background: 0 0
}

.card .card-image {
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}


#back-to-top {
    position: fixed;
    padding: 8px 0;
    transition: .4s ease opacity, .4s ease width, .4s ease transform, .4s ease border-radius;
    opacity: 0;
    line-height: 24px;
    outline: 0;
    transform: translateY(120px)
}

#back-to-top.fade-in {
    opacity: 1
}

#back-to-top.rise-up {
    transform: translateY(0)
}



#k-container {
    margin: 0 auto;
    display: flex;
    width: 1100px;
    margin-top: 30px;
}

@media (min-width:1440px){
    #k-container {
        margin: 0 auto;
        display: flex;
        width: 1300px;
        margin-top: 30px;
    }
}



aside {
    flex: 3;
}
.inner-content {
    display: flex;
}
#k-content {
    flex: 7;
    margin-right: 30px;
    margin-left: 40px;
}

footer {
    margin-top: 30px;
}
#f-container {
    background-color: #fff;
    height: 200px;
    width: 100%;
}

#f-container .f-content {
    width: 1100px;
    margin: 0 auto;
    padding-top: 65px;
}
@media (min-width:1440px){
    #f-container .f-content {
        width: 1300px;
        margin: 0 auto;
        padding-top: 65px;
    }
}

#f-container .f-content .f-level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    top:50px;
}
#f-container .f-content .f-level .f-level-start {
    flex: 1;
}

#f-container .f-level-start img {
    max-height: 1.75rem
}

#f-container .f-level-start p a {
    color: #1485FE;
}
#f-container .f-level-start p a:hover {
    color: #1485FE
}
#f-container .f-level-start p a:visited {
    color: #1485FE
}

#f-container .f-content .f-level .f-level-end {
    text-align: right;
}

.field.has-addons {
    display: flex;
    justify-content: flex-start;
}

.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}

.control {
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
    margin-left: 30px;
}
.control a {
    font-size: 1.5rem;
}


form {
    flex: 1;
    margin-right: 1rem;
    overflow: hidden;
}
.search-input-wrap {
    position: relative;
    display: block;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-size: 0.9rem
}

.search-input-wrap .icon-mag {
    position: absolute;
    top: 0;
    left: 0.6em;
    bottom: 0;
    margin: auto auto auto 0;
    width: 1em;
    height: 1em;
    z-index: 1;
    fill: #717790
}

.search-input-wrap .search-input {
    width: 100%;
    margin: 0;
    padding: 0.4em 0.4em 0.4em 2.2em;
    border: 0;
    background: #e3e4e9;
    border-radius: 2px;
    font: inherit
}

.search-form-header .search-input-wrap {
    font-size: 1.3rem
}

@media (max-width: 830px) {
    .search-form-header .search-input-wrap {
        font-size: 15px
    }
}

.search-form-header .search-input-wrap .icon-mag {
    fill: #868ca0
}

.search-form-header .search-input {
    font-weight: bold;
    background: #2d303a;
    color: white
}

.search-form-header .search-input::-webkit-input-placeholder {
    color: #868ca0;
    text-overflow: ellipsis
}

.search-form-header .search-input:-ms-input-placeholder {
    color: #868ca0;
    text-overflow: ellipsis
}

.search-form-header .search-input::-ms-input-placeholder {
    color: #868ca0;
    text-overflow: ellipsis
}

.search-form-header .search-input::placeholder {
    color: #868ca0;
    text-overflow: ellipsis
}

.search-form-header .search-input:focus {
    background: #444857;
    outline: solid 3px #0ebeff;
    border-color: #aaaebc;
    outline-color: rgba(14, 190, 255, 0.4);
    outline-offset: 1px;
    outline-style: auto;
    outline-width: 4px
}

.im-profile {
    background-color: #fff;
    height: 140px;
}
.im-profile .im-info {
    display: flex;
    height: 100px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.11);
}
.im-photo {
    flex:1;
    margin-top: 20px;
    margin-left: 10px;
}
.im-photo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 0.5rem #babbbc;
}

.im-profile .im-info .im-signature {
    flex: 3;
    padding: 10px;
}
.im-profile .im-info .im-signature .im-name {
    font-size: 1.2rem;
    font-weight: 500;
}
.im-profile .im-skills {
    display: flex;
    margin-top: 10px;
}

.im-profile .im-skills div {
    flex: 1;
    font-size: 1.3rem;
    text-align: center;
}


im-profile .im-myinfo .im-signature .im-name {
    font-size: 1.02rem;
}



.im-m-tags>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.im-m-tags>div>div {
    display: block;
    /*flex: 1;*/
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
}
.im-m-tags>div>div>a {
    text-transform: uppercase;
}

.im-classify {
    margin-top: 20px;
    background-color: #fff;
}
.im-classify .im-classify-title {
    display: flex;
}
.im-classify .im-classify-title>div {
    position: relative;
     flex: 1;
    padding-left: 10px;
 }
.im-classify .im-classify-title>div:first-child::before {
    position: absolute;
    top: 28px;
    left: 10px;
    width: 55px;
    content: '';
    border-bottom: 2px solid #e2e5eb;
}
.im-classify .im-category {
}
.im-classify .im-category {
    background-color: #fff;
}
.im-classify .im-category ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

.im-classify .im-category ul li{
    padding-left: 10px;
}
.im-classify .im-category ul li:not(:first-child){
    margin-top: 10px;
}
@media only screen and (max-width: 500px) {
    /*header#navbar {*/
    /*    display: none;*/
    /*}*/
    footer {
        display: none;

    }
    aside {
        display: none;
    }
    #k-container
    {
        width: 95%;
    }
    #k-content {
        margin: 0;
        width: 100%;
        margin-left: 0px !important;
    }


    .im-m-tags {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .im-m-tags>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*justify-content: space-around;*/
    }

    .im-m-tags>div>div {
        display: block;
        /*flex: 1;*/
        text-align: center;
        width: 100px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 800px) {
    /*header#navbar {*/
    /*    display: none;*/
    /*}*/
    footer {
        display: none;

    }
    aside:first-child {
        display: none;
    }
    #k-container
    {
        width: 95%;
        margin-top: 50px;
    }
    #k-content {
        margin: 0;
        width: 100%;
        margin-left: 0px !important;
        margin-right: 20px;

    }


    .im-m-tags {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .im-m-tags>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /*justify-content: space-around;*/
    }

    .im-m-tags>div>div {
        display: block;
        /*flex: 1;*/
        text-align: center;
        width: 100px;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width: 1140px) {
    #k-container,.im-m-tags {
        width: 90%;
    }
    #k-content {
        margin-left: 20px;
    }
}