.im-menu {
    height: 45px;
    width: 100%;
    /*background-color: #1682e6;*/
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}
.im-flex {
    display: flex;
}
.im-inner-menu {
    margin: 0 auto;
    width: 1100px;
    padding-top: 5px;
    height: 100%;
    line-height: 35px;
}
.im-menus {
    flex: 4;
}
.im-inner-menu ul li {
    float: left;
}
.im-inner-menu ul li:not(:first-child){
    padding-left: 30px;
    vertical-align: middle;
}

.im-inner-menu ul li:first-child a {
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
    color: #000000;
}

.im-inner-menu ul li:not(:first-child) a{
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.im-inner-menu ul li:not(:first-child) a:hover{
    background-image: -webkit-linear-gradient(0deg,#0396FF 0%,#a86af9 100%);
    background-image: linear-gradient(90deg,#0396FF 0%,#a86af9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.im-search {
    flex: 1;
    position: relative;
}

.im-search>li {
    display: inline-block;
    vertical-align: middle;
}

.Search {
    margin-left: 10px;
    transition:margin-left .4s;
    position: relative;
}

.Search-input {
    color: #333333;
    overflow: hidden;
}

.Search-input::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f002";
    float: left;
    margin-right: -36px;
    width: 36px;
    font-size: 14px;
    text-align: center;
    position: relative;
    padding: 8px 0;
    line-height: 1.5;
    pointer-events: none;
}

.FormControl {
    display: block;
    height: 36px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-appearance: none;
    background: #f4f5f5;
    border: 0;
    color: #333333;
    float: left;
    width: 225px;
    padding-left: 32px;
    padding-right: 32px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    box-sizing: inherit !important;
    font-weight: 400;
    outline: none;
    font-family: Nunito;
}

@media (min-width:1440px){
    .im-inner-menu {
        margin: 0 auto;
        width: 1300px;
        padding-top: 5px;
        height: 100%;
        line-height: 35px;
    }
    .im-inner-menu ul li:first-child a {
        font-size: 22px;
        font-weight: 600;
        padding-right: 30px;
        color: #000000;
    }
    .im-inner-menu ul li:not(:first-child) a{
        font-size: 18px;
        color: #333333;
        font-weight: 400;
    }
}