.pagination {
    margin-top: 20px;
    display: flex;
}

.pagination div {
    flex: 2;
}


.pagination ul {
    flex: 5;
    display: flex;
    padding: 0px 100px 0px 100px;
}

.pagination ul li {
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pagination ul li a {
    display: block;
    text-align: center;
    margin: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    background-color: #fff;

}
.pagination-previous,
.agination-link,
.pagination-next{
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    text-align: center;
    line-height: 30px;
    height: 30px;
}

.pagination ul li a.is-current {
    background-color: #0396FF;
    color: #fff;
}
