#k-content {
    margin-left: 0px;
    flex: 11;
}

.read-next-feed {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
}
.read-next-feed .im-weight-block-3 {
    flex: 1;
}
.read-next-feed .im-weight-block-3-inner > .im-weight-3-image>a>img {
    width: 350px;
}
.article-content {
    margin-left: 0px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    padding: 20px;
    background-color: #fff;
}

.post-content h1::before, .post-content h2::before, .post-content h3::before, .post-content h4::before, .post-content h5::before, .post-content h6::before {
    content: '#';
    color: rgba(0, 0, 0, 0.1);
    left: -20px;
    margin-left: -20px;
    padding-right: 5px;
}

.post-full-title {
    font-size: 2em;
    color: #333333;
    text-decoration: none;
    line-height: 2em;
}



.post-content p {
    padding-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-word;
}
.post-content strong {
    color: #222;
    font-weight: bold;
    margin-right: 5px;
}

.post-content blockquote {
    border-left: 3px solid rgba(232, 232, 232, 0.46);
    margin-left: -20px;
    background-color: #f9f9f9;
    padding-left: 20px;
}
.post-content blockquote::before {
    top: 20px;
    left: 10px;
    content: "\f10d";
    color: #e2e2e2;
    font-size: 20px;
    font-family: "Font Awesome 5 Free";
    text-align: center;
    position: static;
}
.post-content hr {
    overflow: visible;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 1px dashed #eceff2
}
.post-content p code {
    color: #dd672c;
    background-color: #24242e;
    padding: 2px;
    font-weight: bold;
    border-radius: 2px;
    /*opacity: .5;*/
}
.post-content p img {
    max-width: 100%;
}


.post-content a strong,
.post-content a ,
.post-content a:visited strong,
.post-content a:visited,
.post-content a:active strong
.post-content a:active
{
    color: #1485FE;
}
.post-content a:hover,
.post-content a:hover strong
{
    color: #fe7b9d;
}
.post-content form {
    margin: 0 auto;
    width: 400px;
}
input#postPassword {
    border: 1px solid #1485FE;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    height: 30px;
    width: 230px;
}
input#passwordSubmit {
    color: #fff !important;
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: 2px 2px 9px 2px rgba(5, 76, 166, 0.49) !important;
    padding: 7px 24px 7px 24px !important;
    font-size: 15px !important;
    text-align: center;
    border: 0 none !important;
    box-sizing: content-box !important;
    display: inline-block !important;
    border-radius: 2px !important;
    background-color: #0067e8 !important;
    line-height: 14px;
    cursor: pointer;
}
input#passwordSubmit:hover {
    box-shadow: 0 3px 8px 0 rgba(5, 76, 166, 0.49) !important
}
.post-content h1 {
    font-size: 1.8em;
    color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-content h2 {
    font-size: 1.6em;
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-content h3 {
    font-size: 1.4em;
    color: rgba(67, 51, 68, 0.94);
    padding-top: 16px;
    padding-bottom: 16px;
}

.post-content h4 {
    font-size: 1.2em;
    color: rgba(85, 85, 85, 0.85);
    padding-top: 14px;
    padding-bottom: 14px;
}

.post-content h5 {
    font-size: 1.1em;
    color: rgba(85, 85, 85, 0.67)
}

.post-content h6 {
    font-size: 1.1em;
    color: rgba(85, 85, 85, 0.82)
}
.post-content h6 {
    font-size: 1.0em;
    color: rgba(85, 85, 85, 0.8)
}
.post-content hr {
    border: 1px dashed #eceff2;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-full-header .tags {
    flex: none;
}

table {
    font-size: 13px;
    display: block;
    overflow: auto;
    width:730px;
    border-spacing: 0;
    border-collapse: collapse;
    word-wrap: normal;
    word-break: normal
}

table th {
    font-weight: 700
}

table td, table th {
    padding: 6px 13px;
    white-space: nowrap;
    border: 1px solid #ddd;
    width: 120px;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;

}

table tr:hover {
    background-color: #f7f7f7
}

table thead tr {
    background-color: #f7f7f7
}

pre code {
    background-color: #fff;
}


#directory {
    /*position: fixed;*/
    z-index: 0;
    /*left: 44%;*/
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    /*width: 260px;*/
    /*margin-left: 330px;*/
}
.directory-fixed {
    position: fixed;
    z-index: 0;
    left: 50%;
    display: inline-block;
    text-align: left;
    width: 260px;
    margin-left: 330px;
    top:00px;
}

#directory>ul:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    width: 3px;
    background-color: #ebedef;
    opacity: .5;
    z-index: 1;
}
#directory li, #directory ul {
    margin: 0;
    padding-left: 0;
    list-style: none
}

#directory > ul {
    position: relative;
}
.active {
    color: #1485FE !important;
    background-color: #ebedef;
}
#directory > ul  li::before {
    position: relative;
    top: 0;
    left: -2px;
    display: inline-block;
    width: 7px;
    height: 7px;
    content: '';
    border-radius: 50%;
    background-color: #1485FE;
    z-index: 100;
    opacity: 0.2;
    vertical-align: middle;
}

#directory>ul>li:hover::before {
    opacity: 1;
}
.lit-active::before {
    opacity: 1 !important;
}

#directory>ul>li>a {
    font-weight: bold;
}
#directory ul li a {
    display: inline-table;
    white-space: wrap;
    vertical-align: middle;
}

#directory ul li a {
    margin-left: -5px;
    white-space: nowrap;
    color: #5f5f5f;
    width: 200px;
    padding-left: 15px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
#directory ul li ul li a {
    margin-left: -15px;
    white-space: nowrap;
    color: #5f5f5f;
    width: 200px;
    padding-left: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#directory ul li ul li ul li a {
    display: inline-block;
    margin-left: -15px;
    color: #5f5f5f;
    padding-left: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

#directory a:hover {
    color: #1485FE;
    background-color: #ebedef;
}

.im-weight-block-3:not(:first-child) {
    margin-left: 20px;
}
pre[class*="language-"] {
    margin-left: -20px;
    margin-right: -20px;
    width: 850px;
}

code[class*="language-"], pre[class*="language-"] {
    padding-left: 10px;
    padding-right: 10px;
}
.copyright {
    font-size: 14px;
}